[submodule "secrets"]
	path = secrets
	url = git@bitbucket.org:hirocaster/secrets.git
[submodule "vendor/yasnippet-snippets"]
	path = vendor/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
